<div class="body-content">
  <div class="content-wrapper">
      <div class="top-content-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <div class="top-contetn-wrapper">
                          <h1 class="star">Amet minim mollit non deserunt ullamco est</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="form-section black">
          <div class="container">
              <div class="form-wrapper">
                  <div class="row">
                      <div class="col-md-3 align-self-center">
                          <h2>Solar Availability</h2>
                      </div>
                      <div class="col-md-9">
                          <div class="location-content">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="feature-single mb-20">
                                          <img src="../assets/images/satellite.png" class="feature-icon" alt="" />
                                          <p>Retrieving satellite imagery of your address</p>
                                          <img src="../assets/images/check-circle.svg" class="check" alt="" />
                                      </div>
                                      <div class="feature-single mb-20">
                                          <img src="../assets/images/solar.png" class="feature-icon" alt="" />
                                          <p>Reviewing your roof’s solar potential</p>
                                          <img src="../assets/images/check-circle.svg" class="check" alt="" />
                                      </div>
                                      <div class="feature-single">
                                          <img src="../assets/images/dollar.png" class="feature-icon" alt="" />
                                          <p>Analyzing your local energy rates</p>
                                          <img src="../assets/images/check-circle.svg" class="check" alt="" />
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="feature-single mb-20">
                                          <img src="../assets/images/offers.png" class="feature-icon" alt="" />
                                          <p>Searching applicable rebates and incentives</p>
                                          <img src="../assets/images/check-circle.svg" class="check" alt="" />
                                      </div>
                                      <div class="feature-single">
                                          <img src="../assets/images/analysis.png" class="feature-icon" alt="" />
                                          <p>Generating estimates based on historical pricing</p>
                                          <img src="../assets/images/loading.svg" class="check" alt="" />
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
