<div class="navbar-custom">
  <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <div class="navbar-collapse" id="navbarSupportedContent">
              <img src="../assets/images/sidemenu.svg" class="togglebar-mobile" />
              <form class="d-flex me-auto mb-2 mb-lg-0 nav-search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <a href="" class="nav-search-btn"><img src="../assets/images/search.svg" /></a>
              </form>
              <ul class="navbar-nav ">
                  <li><a class="nav-link desktop-hide" href="#"><img src="../assets/images/search.svg" /></a></li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><img src="../assets/images/help.svg" /></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#"><img src="../assets/images/notification.svg" /></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link profile-link" href="#">
                          <span class="nav-profile">
                              <img src="../assets/images/katie.png" class="nav-profile-img" />
                          </span>
                          <span class="nav-profile-content">
                              <span class="nav-profiel-name">Katie Pena</span>
                              <span class="nav-profiel-type">User</span>
                          </span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</div>
