<app-admin-sidebar></app-admin-sidebar>
<app-admin-header></app-admin-header>
    <div class="dashboard">
        <div class="dashboard-wrapper">

            <div class="main bg-grey">
                <div class="content-page">

                    <div class="container-fluid dashboard-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="top-progress-bar progress1 d-flex">
                                    <h2>Build your Home Profile</h2>
                                    <div class="step-wrapper d-flex">
                                        <p>Step 1/5</p>
                                        <img src="../assets/images/loader.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="upload-section card">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="upload-content-wrapper">
                                                <h6>Upload Your Utility Graph</h6>
                                                <p>When uploading your utility information, the vital piece we need is the Electricity Usage Graph found within your utility bill monthly statement.</p>
                                                <div class="feature-info">
                                                    <p>For more accurate results, please upload a PDF copy for your electric bill</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="draganddrop text-center">
                                                <div class="draganddrop-wrapper">
                                                    <img src="../assets/images/upload.svg" />
                                                    <p class="drag-title">Drag and Drop or <a href="#">Browse</a> to upload</p>
                                                    <p>Maximum size: 20MB</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="preview-section">

                                                    <img src="../assets/images/eye.svg"/>
                                                    <p>Preview</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="continue-btngrp">
                                    <a href="" class="btn btn-nobg">Skip</a>
                                    <a href="" class="btn btn-primary">Continue</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
