<div class="body-content esimator">
  <app-common-header></app-common-header>
  <div class="content-wrapper">
      <div class="estimate-section">
          <div class="container">
              <div class="row">
                  <div class="offset-md-3 col-md-9">
                      <div class="row">
                          <div class="col-md-6 pd-0">
                              <div class="map-section black">
                                  <img src="../assets/images/map.png" class="map-pointer" alt="" />
                                  <div class="map-content">
                                      <h3>Your Solar Estimates</h3>
                                      <table class="plan">
                                          <thead>
                                              <tr>
                                                  <th></th>
                                                  <th>Before Solar</th>
                                                  <th class="blue">After Solar</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>Monthly payment<img src="../assets/images/warning.svg" class="warning_icon"></td>
                                                  <td>$399</td>
                                                  <td>$13</td>
                                              </tr>
                                              <tr>
                                                  <td>Bill Reduction<img src="../assets/images/warning.svg" class="warning_icon"></td>
                                                  <td>0%</td>
                                                  <td>97%</td>
                                              </tr>
                                              <tr>
                                                  <td>Lifetime Energy Cost<img src="../assets/images/warning.svg" class="warning_icon"></td>
                                                  <td>$241,619</td>
                                                  <td>$50,381</td>
                                              </tr>
                                              <tr>
                                                  <td>Lifetime Savings<img src="../assets/images/warning.svg" class="warning_icon"></td>
                                                  <td>$0</td>
                                                  <td>$191,238</td>
                                              </tr>
                                              <tr>
                                                  <td>Average Electricity Rate<img src="../assets/images/warning.svg" class="warning_icon"></td>
                                                  <td>50.6¢/kWh</td>
                                                  <td>10.5¢/kWh</td>
                                              </tr>
                                              <tr>
                                                  <td>Available Incentives<img src="../assets/images/warning.svg" class="warning_icon"></td>
                                                  <td>$0</td>
                                                  <td>$13,163</td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 pd-0">
                              <div class="tell-section text-center black">
                                  <h2>Tell Us About Your Project</h2>
                                  <div class="location-wrapper">
                                      <img src="../assets/images/location3.svg" class="loc_icon" />
                                      <p>1901 Thornridge Cir. Shiloh, Hawaii 81063</p>
                                  </div>
                                  <div class="electric-bill-block">
                                      <div class="bill-wrapper">
                                          <p>Average Electric Bill</p>
                                          <p class="small">Est. System Size: 14.75 kW</p>
                                      </div>
                                      <div class="monthlyinput">
                                          <input type="text" id="monthly" name="monthly">
                                      </div>
                                      <div class="preference-selector text-left">
                                          <p>Financing Preference</p>
                                          <div class="preference-tab">
                                              <button class="btn btn-primary">Cash</button>
                                              <button class="btn">Loan</button>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="value-information">
                                      <p>The values on this page are estimates based on your address and monthly energy bill. You can fine-tune these estimates and get multiple offers with <span class="underline">our expert energy advisors,</span> absolutely free!</p>
                                  </div>
                                  <!-- <a href="#" class="btn btn-primary customize-btn">Get customized offers</a> -->
                                  <a routerLink="/auth/sign-up"><button class="btn btn-primary customize-btn mb-3">Get customized offers</button></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <app-footer></app-footer>
</div>
